.user-table {
	height: 500px;
	overflow-y: auto;
}
/**scroll Promo Display **/
div.scrollpromo {
    overflow: auto;
    white-space: nowrap;
}

div.scrollpromo figure {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
/**End scroll**/
/** Admin CSS **/
#scrollY {
	width: auto; overflow-x: scroll; white-space:nowrap; height: auto;
}
#descPromo {
	height: 200px;
	overflow-y: hidden;
}
.table-index {
  border: hidden;
}
#info {
	color: green;
	font-weight: bold;
	text-decoration: none;
}
#statusOn {
	color: green;
	font-weight: bold;
	text-decoration: none;
}
#statusOff {
	color: red;
	font-weight: bold;
	text-decoration: none;
}
#delete {
	color: red;
	font-weight: bold;
	text-decoration: none;
}
#edit {
	color: navy;
	font-weight: bold;
	text-decoration: none;
}
#preview {
	font-weight: bold;
	text-decoration: none;
}
.pdashboard a {
	color: black;
}
.dashboardUi {
	max-width: 100%;
	height: auto;
	margin-bottom: 3px;
	padding: 3px;
}
.dashboad-title {
	height: 3em;
}
.dashboardUi a {
	text-decoration: none;
}
#ui1 {
	background-color: aqua;
	height: 200px;
	padding: 10px 10px;
}
#ui2 {
	background-color: pink;
	height: 200px;
	padding: 10px 10px;
}
#ui3 {
	background-color: brown;
	height: 200px;
	padding: 10px 10px;
}
#ui4 {
	background-color: lightgrey;
	height: 200px;
	padding: 10px 10px;
}
#ui5 {
	background-color: hotpink;
	height: 200px;
	padding: 10px 10px;
}
#ui6 {
	background-color: limeGreen;
	height: 200px;
	padding: 10px 10px;
}
#ui7 {
	background-color: orange;
	height: 200px;
	padding: 10px 10px;
}
#ui8 {
	background-color: lightblue;
	height: 200px;
	padding: 10px 10px;
}
#ui9 {
	background-color: purple;
	height: 200px;
	padding: 10px 10px;
}
#ui10 {
	background-color: white;
	height: 200px;
	padding: 10px 10px;
}
.modal-body {
	background-color: PaleGoldenRod;
}
@media screen and (max-width: 450px){
	.admin-thumb {
		width: 100px; height: 80px; background-color: black; overflow: hidden;
	}
}
@media screen and (min-width: 450px){
	.admin-thumb {
		width: 150px; height: 100px; background-color: black; overflow: hidden;
	}
}
@media screen and (min-width: 800px){

}