.carousel-image-indicators li {
  border-radius: 0; width: 15%; height: 5px;
  margin-bottom: -25px; background-color: #b300b3;
}
.carousel-image-indicators .active {
  border-radius: 0; width: 15%; height: 5px;
  margin-bottom: -25px; background-color: #e64d00;
}
.carousel-image-control.left, .carousel-image-control.right {
  background-image: none;
}
#carousel-image-generic {
	max-width: 100%;
	overflow: hidden;
	background-color: black;
}
.carousel-image-inner div {
	position: absolute;
	left: 0;
	top: 0;
}
.carousel-image-inner img {
	max-width: 100%;
	max-height: 315px;
	margin: 0 auto;
	display: block;
}
@media screen and (max-width: 450px){
	#carousel-image-generic {
		height: 170px;
	}
	#carousel-image-generic img {
		height: 170px;	
	}
}
@media screen and (min-width: 450px){
	#carousel-image-generic {
		height: 250px;
	}
	#carousel-image-generic img {
		height: 250px;	
	}
}
@media screen and (min-width: 800px){
	#carousel-image-generic {
		height: 315px;
	}
	#carousel-image-generic img {
		height: 315px;	
	}
}